<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net>
    <root>
      <!--表示debug及以上等级的日志会被记录/-->
      <level value ="DEBUG" />
      <!--日志记录的位置-->
      <appender-ref ref="RollingFileTracer" />
    </root>
    <!--日志记录的位置,RollingFileAppender滚动日志文件,并且会限制-->
    <appender name="RollingFileTracer" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="D:\Project\ZSZ\log\" />
      <!--路径-->
      <param name="AppendToFile" value="True" />
      <!--附加到文件-->
      <param name="RollingStyle" value="Date" />
      <!--根据日期进行滚动-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--最多保存的日志文件个数,超过之后会自动删除-->
      <param name="MaximumFileSize" value="5KB" />
      <!--每个文件最大1MB-->
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <!--生成日志的文件名格式-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4Net.layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d[%t]%-5p%c-%m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>